<% form_for setup_inventory(@inventory) do |inventory_form| %>
  <%= inventory_form.error_messages %>
  <%= inventory_form.hidden_field :user_id %>

  <p>
    <%= inventory_form.label :pantry_items, "What's in your kitchen?" %><br />
  <table>
    <tr>
      <td valign="top">
      <div id="pantry_items_area"/>
    <% inventory_form.fields_for :pantry_items do |item_form| %>
      <%= item_form.check_box :_delete, {:checked => true}, false, true %>&nbsp;<%= item_form.object.food_item_name %><br/>
      <%= item_form.hidden_field :food_item_name %>
      <%= item_form.hidden_field :quantity %>
      <%= item_form.hidden_field :unit_id %>
      <% if (@inventory.pantry_items.index(item_form.object) > 0) and
            ((@inventory.pantry_items.index(item_form.object) % (@inventory.pantry_items.length/3).to_i) == 0) %>
        </td><td valign="top">
      <% end %>
    <% end %>
      </td>
    </tr>
    <tr><td colspan="2">
    <%= link_to_remote 'Add another item', :update => 'pantry_items_area',
      :url => { :controller => 'pantry_items', :action => 'new', :inventory_id => @inventory.id },
      :method => :get %>
    </td></tr>
  </table>
  </p>

  <p>
    <%= inventory_form.label :notes, "Overall inventory notes" %><br />
    <%= inventory_form.text_area :notes, :cols => 70, :rows => 10 %>
  </p>

  <p>
    <%= inventory_form.submit 'Submit' %>
  </p>
<% end %>