<h1>New recipe</h1>

<% form_for setup_recipe(@recipe) do |recipe_form| %>
  <%= recipe_form.error_messages %>
  <%= recipe_form.hidden_field :user_id %>

  <p>
    <%= recipe_form.label :name, "Title" %><br />
    <%= recipe_form.text_field :name, :size => 60 %>
  </p>

  <p>
    <%= recipe_form.label :ingredients %><br />
  <table>
    <tr>
      <th>Quantity</td>
      <th>Unit</td>
      <th>Ingredient name</td>
      <th>Notes</td>
    </tr>
    <% recipe_form.fields_for :ingredients do |ingredient_form| %>
    <tr>
      <td><%= ingredient_form.text_field :quantity, :size => 10 %></td>
      <td><%= ingredient_form.select(:unit_id, Unit.all.collect {|u| [ u.name, u.id ] }) %></td>
      <td><%= ingredient_form.text_field :food_item_id %></td>
      <td><%= ingredient_form.text_field :notes %></td>
    </tr>
    <% end %>
  </table>
  </p>

  <p>
    <%= recipe_form.label :instructions %><br />
    <%= recipe_form.text_area :instructions, :cols => 70, :rows => 10 %>
  </p>

  <p>
    <%= recipe_form.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', recipes_path %>