<p>
  <b>Name:</b>
  <%=h @recipe.name %>
</p>

<p>
  <b>Ingredients:</b>
<table>
  <tr>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Name</th>
    <th>Notes</th>
  </tr>
  <%= render :partial => "ingredient", :collection => @recipe.ingredients %>
</table>
  
</p>

<p>
  <b>Instructions:</b>
  <%=h @recipe.instructions %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>