<p>
  <b>Name:</b>
  <%=h @recipe.name %>
</p>

<p>
  <b>Ingredients:</b>
<table>
  <tr>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Name</th>
    <th>Notes</th>
  </tr>
  <%= render :partial => "ingredient", :collection => @recipe.ingredients %>
</table>
  
</p>

<p>
  <b>Instructions:</b>
  <%=h @recipe.instructions %>
</p>

<% if logged_in? %>
  <p>
  <%= link_to 'Generate a shopping list for this recipe',
              shopping_lists_path(:shopping_list => {:recipe_id => @recipe}),
              :method => :post %>
  </p>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'View all recipes', recipes_path %>